# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/
*.zip

# YOLO training outputs
runs/

# Model weights
*.pt

# Environment/secrets
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db